bootdisk: {{bootdisk}}
cores: {{cores}}
ide2: {{ide2}}
memory: {{memory}}
name: {{name}}
net0: {{net0}}
numa: {{numa}}
ostype: {{ostype}}
scsi0: {{scsi0}}
scsi1: {{scsi1}}
scsihw: {{scsihw}}
smbios1: {{smbios1}}
sockets: {{sockets}}
template: {{template}}
vmgenid: {{vmgenid}}